@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
  font-family: "Bebas Neue", sans-serif;
}
.bg {
  background-image: linear-gradient(
    to right top,
    #051937,
    #171228,
    #190a1a,
    #12040d,
    #000000
  );
}

.card {
  background-image: linear-gradient(
    to right top,
    #051937,
    #171228,
    #190a1a,
    #12040d,
    #000000
  );
}
